.review_stars_wrap{
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#review_stars {
  overflow: hidden;
  position: relative;
  float: left;
}

#review_stars input {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

#review_stars input ~ label i{
  color:#ccc;
}

#review_stars input:checked ~ label i{
  color: #ff3448;
}

#review_stars label {
  float: right;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

#review_stars label:hover i, #review_stars label:hover ~ label i{
  color: #ff3448;
}